@page
@model lab_5.Pages.PassengersModel
@{
    ViewData["Title"] = "Passengers";
}
<!DOCTYPE html>

<html>
<head>
    <title>Passengers</title>
</head>
<body>
    <div class='positioned'>
        <img src='./ukrzaliznitsa.png' height='200' />
    </div>
    <div class='container'>
        <h2>The list of passengers</h2>
        <ul class='responsive-table'>
            <li class='table-header'>
                <div class='col col-1'>ID</div>
                <div class='col col-2'>Full Name</div>
                <div class='col col-3'>Address</div>
                <div class='col col-4'>Phone</div>
                <div class='col col-1'></div>
                <div class='col col-1'></div>
            </li>

            @foreach (var passenger in Model.Passengers)
            {
                <li class='table-row'>

                    <div class='col col-1' data-label='PassengerId'>@passenger.PassengerId</div>
                    <div class='col col-2' data-label='FullName'>@passenger.FullName</div>
                    <div class='col col-3' data-label='Address'>@passenger.Address</div>
                    <div class='col col-4' data-label='Phone'>@passenger.Phone</div>
                    <div class='col col-1' data-label='Edit'>
                        
                        <a href="@Url.Page("EditPassenger", new { passengerId = passenger.PassengerId})" class="btn btn-warning">Edit</a>

                    </div>
                    <div class='col col-1' data-label='Delete'>
                        <form asp-page-handler="DeletePassenger"
                              asp-route-passengerId="@passenger.PassengerId">
                            <input type="submit" value="Remove" class="btn btn-danger" />
                        </form>
                    </div>
                </li>
            }
        </ul>
    </div>



    <div class='container'>
        <h2>Add new passenger</h2>
        <form action="" method="post">
            <ul class='responsive-table'>
                <li class='table-row'>

                    <div class='col col-2' data-label='Full Name'>
                        <input type="text" name="FullName" value="Full Name" asp-for="passenger.FullName">
                    </div>
                    <div class='col col-2' data-label='Address' >
                        <input type="text" name="Address" value="Address" asp-for="passenger.Address">
                    </div>
                    <div class='col col-2' data-label='Phone' >
                        <input type="text" name="Phone" value="Phone" asp-for="passenger.Phone">
                    </div>
                    <div class='sub' data-label='Submit'>
                        <input asp-page-handler="AddPassenger" asp-route-newPassenger="@Model.passenger"
                               type="submit" value="Add new passenger" class="btn btn-success" required />
                    </div>



                </li>
            </ul>
        </form>
    </div>

</body>
</html>